                           }
                                        },
                                        range: [27, 46],
                                        loc: {
                                            start: { line: 1, column: 27 },
                                            end: { line: 1, column: 46 }
                                        }
                                    },
                                    range: [22, 46],
                              